<div id="services" class="container-fluid text-center">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br />
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-upload logo-small"></span>
            <h4>Upload</h4>
            <p>Create albums and upload your photos.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-folder-open logo-small"></span>
            <h4>Public albums</h4>
            <p>Public albums can be viewed by everyone.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-folder-close logo-small"></span>
            <h4>Private Albums</h4>
            <p>Private albums isonly for you.</p>
        </div>
    </div>
    <br /><br />
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-picture logo-small"></span>
            <h4>Slideshow</h4>
            <p>View your albums as slideshow.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-edit logo-small"></span>
            <h4>Edit</h4>
            <p>Edit your photos with powerful editor.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-link logo-small"></span>
            <h4>Links</h4>
            <p>Access your photos by short links.</p>
        </div>
    </div>
    <br><br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-comment logo-small"></span>
            <h4>Comment</h4>
            <p>Comment other users' albums.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-star logo-small"></span>
            <h4>Rate</h4>
            <p>Rate other users' albums.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-search logo-small"></span>
            <h4>Search</h4>
            <p>Powerful images and albums search.</p>
        </div>
    </div>
</div>
