<div id="contact" class="container-fluid">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
        <div class="col-sm-7 col-md-6 col-md-offset-2">
            <p><span class="glyphicon glyphicon-map-marker"></span> Minsk, Belarus</p>
            <p><span class="glyphicon glyphicon-phone"></span> +375-29-000-00-00</p>
            <p><span class="glyphicon glyphicon-envelope"></span> indox@photoalbum.com</p>
        </div>
        <div class="col-sm-5 col-md-4 slideanim  text-center">
            <span class="glyphicon glyphicon-envelope logo-medium"></span>
        </div>
    </div>
</div>
