.app-name {
    font-family:'Damion', cursive;
    font-size: 35px;
    letter-spacing: 0px;
}

h1.app-name {
    /*font-size: 100px !important;*/
    font-size: 16vw;
}

body {
    padding-top: 50px;
    padding-bottom: 0px;
    /* Margin bottom by footer height */
    margin-bottom: 50px;
    background-color: #e3f5e3;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 55px;
    background-color: mediumseagreen;
    color: white;
}

.footer-vertical-center {
    padding-top: 15px;
}

.navbar-custom {
    background-color: mediumseagreen;
    border-bottom-color: mediumseagreen;
}


.navbar {
    margin-bottom: 0;
    background-color: mediumseagreen;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 3px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

    .navbar li a, .navbar .navbar-brand {
        color: #fff !important;
    }

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: mediumseagreen !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
    color: #303030;
}

.btn-group-vertical {
    width: 100%;
    max-width: 300px;
}




.img-container {
    /*width: 200px;*/
    height: 300px;
    overflow: hidden;
    border: 6px solid mediumseagreen;
    /*position: relative;*/
}

.img-container img {
    /*position: absolute;
    margin: auto;*/
    width: 100%;
    max-height: 288px;
    /*left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;*/
}

.modal-dialog {
    /*position: relative;*/
    display: table;
    /*This is important overflow-y: auto;*/
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}


/*.rating {
    float:left;
}*/

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
fieldset intput {
	display: none;
}




.star-rating{
	font-size: 0px;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 2.5rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}




/*comments*/
.pad-bottom {
    margin-bottom: 10px;
}
 
.no-pad-bottom {
    margin-bottom: 0;
}
 
.new-post {
    background-color: #c9e0fc;
    padding: 15px 10px;
}
 
.username {
    font-weight: bold;
    color: #ff6a00;
}
 
.commentor {
    font-weight: bold;
    color: #004bff;
}
 
.posts li .date-posted {
    font-size: 12px;
    font-style: italic;
}
 
.posts li {
    border-bottom: 1px solid #CCC;
    padding: 15px 0;
}
 
.posts li:first-child {
    border-top: 1px solid #CCC;
}
 
.posts .comments {
    background-color: #efefef;
    margin-top: 10px;
    padding: 10px;
    padding-left: 30px;
}
 
.posts .comments li {
    padding-top: 10px;
    border: 0;
}
 
form.add-comment  {
    margin-top: 10px;
    margin-bottom: 10px;
}




.heading-colors {
    color: white !important;
    background-color: mediumseagreen !important;
}

.glyph-color {
    color: #e3f5e3;
}
