@model IEnumerable<PhotoAlbum.Models.CommentView>
@using Microsoft.AspNet.Identity

@if (Model != null)
{
    foreach (var comment in Model)
    {
        <div class="well well-lg comment-panel" id="comment_@comment.CommentId">
            <div class="row">
                <div class="col-md-6">
                    <span class="glyphicon glyphicon-user"></span><span class="user-name">@comment.UserName</span>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        @{ var dateTime = $"{comment.DateTime.ToShortDateString()}  at  {comment.DateTime.ToShortTimeString()}"; }
                        @dateTime
                        @if (User.IsInRole("Admin") || User.Identity.GetUserName() == comment.UserName)
                        {
                            <button id="@comment.CommentId" style="margin-left: 10px" class="delete-comment close" title="Remove this comment"><span class="glyphicon glyphicon-remove text-danger"></span></button>
                        }
                    </div>
                </div>
            </div>
            <hr />
            <div>
                @Html.Raw(comment.Comment)
            </div>
        </div>
    }
}
