@model IEnumerable<PhotoAlbum.Models.CommentView>
@using Microsoft.AspNet.Identity

@if (Model != null)
{
    foreach (var comment in Model)
    {
        <div class="comment-block" id="comment_@comment.CommentId">
            <div class="well well-lg">
                <div class="row">
                    <div class="col-md-6">
                        <span class="glyphicon glyphicon-user"></span>@comment.UserName
                    </div>
                    <div class="col-md-6">
                        <div class="text-right">
                            @comment.DateTime
                            @if (User.IsInRole("Admin") || User.Identity.GetUserName() == comment.UserName)
                            {
                                <button id="@comment.CommentId" style="margin-left: 10px" type="button" class="delete-comment close">&times;</button>
                            }
                        </div>
                    </div>
                </div>
                @*<hr />*@
                <div class="">
                    @Html.Raw(comment.Comment)
                    
                </div>                 
            </div>
        </div>
    }
}
